.banner{
	background-image: url(../images/banner1.jpg);
	min-height: 50vh;
	background-repeat: no-repeat;
	padding: 25vh 0px;
	background-size: cover;
	background-position: bottom;
	color: white;

}
.navbar{
    background-color: rgb(0, 0, 0);
    
   
}
.navbar-brand img{
    color: rgb(250, 246, 246);
    height: 44px;
    margin-right:50px;
    float: left;
}

.nav-link{
    color: white;
    margin: 0 8px 2px 5px;
}
.btn:not(:disabled):not(.disabled) {
    padding-left: 40px;
    cursor: pointer;
    padding-right: 31px;
}
.col-md-12 {
	font-family: sans-serif;
	text-align: center;

}
.small-img img{
    border:1px solid black;
    border-radius:50%;
    height:50%;
    width:50px;
    object-fit:cover;

}
.nav-link{
	padding-left: 30px;
	float: center;
	
}
.card-body{
	text-align: left;
}
.slider{
  max-width: 1100px;
  display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  
}
.slider .card .img:hover img{
  transition: 0.3s;
  transform: scale(1.1);
  -ms-transform:scale(1.1);
  -webkit-transform:scale(1.1);

}
.slider .card .img{
  overflow: hidden;
}

.slider .card .content{
	text-align: left;
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.card .content p{
  text-align: left;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: center;
  margin: 10px 0;
}
.card .content .btn button{
  background:blue;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}
.image{
	border-radius: 50%;
	border:4px solid grey;
    height:100%;
    width:150px;
    object-fit:cover;

}
.searchbutton{
	position: relative;
}
.searchbutton .searchbutton{
	position: absolute;
	right: 0;
	top: 0;
	background-color: #ee5578;
	padding-bottom: 10px;
	color: white;
}
.img1{
	border-radius: 50%;
    height:80%;
    width:150px;
    object-fit:cover;

}
.col-md-3{
	color: white;
}